#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess. 

# $Id$

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

CFLAGS=-O3
CXXFLAGS=-O3

build: debian/build-stamp
debian/build-stamp: configure
	dh_testdir

	# Add here commands to compile the package.
	#$(MAKE)
	$(MAKE) -C debian/.build

	touch debian/build-stamp

configure: debian/configure-stamp
debian/configure-stamp:
	test ! -e Makefile || make distclean
	test -e Makefile.in || ./autogen.sh
	mkdir -p debian/.build && cd debian/.build && ../../configure \
		--prefix=/usr \
		--enable-gui \
		--enable-cli \
		--enable-www \
		--enable-session-saving \
		--enable-event-callback \
		--enable-upnp \
		--enable-btg-config \
		--enable-url
	touch debian/configure-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f debian/configure-stamp
	rm -f debian/build-stamp
	rm -Rf debian/.build
	rm -f debian/install-stamp
	rm -Rf debian/.install

	# Add here commands to clean up after the build process.
	#-$(MAKE) clean
	#-$(MAKE) distclean

	dh_clean

install: build debian/install-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/<packagename>
	#$(MAKE) prefix=`pwd`/debian/`dh_listpackages`/usr install

debian/install-stamp: debian/build-stamp
	$(MAKE) -C debian/.build DESTDIR=$(CURDIR)/debian/.install install
	cp -lR debian/extra/* debian/.install
	touch debian/install-stamp

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
#	dh_installexamples
	dh_install --sourcedir=debian/.install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installcatalogs
#	dh_installpam
#	dh_installmime
	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installwm
#	dh_installudev
#	dh_undocumented
#	dh_installman
#	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
